[% USE raw %]
[% USE Koha %]
[% USE KohaDates %]
[% USE Price %]
[% USE ItemTypes %]
[% SET footerjs = 1 %]

[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Reports &rsaquo; Aggregated statistics &rsaquo; VG WORT Export</title>
[% INCLUDE 'doc-head-close.inc' %]
[% Asset.css("css/datatables.css") | $raw %]

</head>

<body id="rep_aggregated_statistics" class="rep">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    [% WRAPPER breadcrumbs %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/reports/reports-home.pl">Reports</a>
        [% END %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/reports/aggregated_statistics.pl?statisticstype=[% statisticstype | uri %]">Aggregated statistics</a>
        [% END %]
        [% WRAPPER breadcrumb_item bc_active= 1 %]
            <span>VG WORT Export</span>
        [% END %]
    [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

[% WRAPPER 'main-container.inc' aside='reports-menu' %]
    <h1>[% statisticstypedesignation | html %] [% name | html %]</h1>

    <div class="page-section">
        <h4>Report period: [% startdate | $KohaDates %] - [% enddate | $KohaDates %]</h4>
        <h4>Library group: [% IF ( selectedgroup == "*" ) %]All library groups[% ELSE %][% selectedgroupname | html %][% END %]</h4>
        <h4>Library: [% IF ( selectedbranch == "*" ) %]All libraries[% ELSE %][% selectedbranchname | html %][% END %]</h4>
    </div>

    <div class="page-section">
        <form method="post" action="/cgi-bin/koha/svc/vgwort_export">
            [% INCLUDE 'csrf-token.inc' %]
            <input type="hidden" name="op" value="cud-download" />
            <input type="hidden" name="aggregatedStatisticsId" value="[% id | html %]" />
            <button type="submit" name="save_anyway" value="Save anyway" class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
        </form>

        <div class="dialog message">
            <div class="row">
                <div class="col-sm-1">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: x-large; color: darkblue"></i>
                </div>
                <div class="col-sm-11">
                    Please wait after clicking on Download! It may take a while until the Download starts.<br />
                    Depending on the amount of data it can take several minutes to complete the Download.
                </div>
            </div>
        </div>
    </div>

    <div class="page-section">
        <h2>Overview</h2>
        [% IF (exportData.size == 0) %]
            <p>The export file will not contain data.</p>
        [% ELSE %]
            <p>The following figures show the amount of data to be contained in export file.</p>
            [% FOREACH yearstat IN exportData %]
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Year [% yearstat.year | html %]</th>
                        </tr>
                        <tr>
                            <th>VG WORT media type</th>
                            <th>Count titles</th>
                            <th>Count issues (issues + renewals)</th>
                            <th>Koha media types</th>
                        </tr>
                    </thead>
                    [% FOREACH stat IN yearstat.stats %]
                        <tbody>
                            <tr>
                                <td>[% stat.mediaType | html %]</td>
                                <td>[% stat.count | html %]</td>
                                <td>[% stat.isscount | html %]</td>
                                <td>
                                    [% FOR itype IN stat.itypes %]
                                        [% ItemTypes.GetDescription(itype) | html %]
                                        ([% stat.itypeCount.$itype | html %] titles)<br />
                                    [% END %]
                                </td>
                            </tr>
                        </tbody>
                    [% END %]
                </table>
            [% END %]
        [% END %]
    </div>
[% END #/ WRAPPER main-container.inc %]

[% MACRO jsinclude BLOCK %]
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
