[% USE raw %]
[% USE Asset %]
[% USE Branches %]
[% USE KohaDates %]
[% USE ItemTypes %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Fines overview &rsaquo; Reports &rsaquo; Koha</title>
[% INCLUDE 'doc-head-close.inc' %]
[% Asset.css("css/datatables.css") | $raw %]
</head>

<body id="circ_managecashregister" class="rep">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    [% WRAPPER breadcrumbs %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/reports/reports-home.pl">Reports</a>
        [% END %]
        [% WRAPPER breadcrumb_item bc_active= 1 %]
            <span>Fines overviews</span>
        [% END %]
    [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

[% WRAPPER 'main-container.inc' aside='reports-menu' %]
    [% PROCESS 'cashregister-fines-overview.inc' used_perl_script="reports/fines_overviews.pl" %]
[% END %]

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'calendar.inc' %]
    [% INCLUDE 'datatables.inc' %]
    <script type="text/javascript">
        $(document).ready(function () {
            $(".cashregisterlink").click(function () {
                var journalfrom = $("#journalfrom").val();
                var journalto = $("#journalto").val();
                if (this.href.indexOf("?") < 0) this.href += "?";
                if (journalfrom) this.href += "&journalfrom=" + journalfrom;
                if (journalto) this.href += "&journalto=" + journalto;
            });
        });
    </script>
[% END %]
[% INCLUDE 'intranet-bottom.inc' %]
