/MYMETA.*
/blib/
/Makefile
/pm_to_blib
node_modules/
koha-tmpl/opac-tmpl/bootstrap/css/maps/
koha-tmpl/intranet-tmpl/prog/css/maps/
reset_env.sh

# Local UI testing module
koha-tmpl/opac-tmpl/bootstrap/en/modules/opac-ui-test.tt
opac/opac-ui-test.pl
