[% USE raw %]
[% USE Asset %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Circulation &rsaquo; Cash register management</title>
[% INCLUDE 'doc-head-close.inc' %]
[% Asset.css("css/datatables.css") | $raw %]
</head>

<body id="circ_managecashregister" class="circ">
[% WRAPPER 'main-container.inc' %]
    [% IF ( manageaction == 'payinoutoverview' ) %]
    [% PROCESS 'cashregister-payin-payout-overview.inc' %]
    [% ELSE %]
    [% PROCESS 'cashregister-fines-overview.inc' %]
    [% END %]
[% END %]

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'calendar.inc' %]
    [% INCLUDE 'datatables.inc' %]
    [% Asset.js("lib/jquery/plugins/jquery.insertatcaret.js") | $raw %]
[% END %]

    <span id="audio-alert"></span>
    [% IF ( footerjs ) %]
        [% INCLUDE js_includes.inc %]
        [% jsinclude | $raw # Parse the page template's JavaScript block if necessary %]
        [% TRY %][% jsextrainclude | $raw %][% CATCH %][% END %]
    [% END %]
    </body>
</html>
